.Section3tab {
  margin-top: 35px;
}

.Section3tabItem .prodImg {
  overflow: hidden;
}

.Section3tabItem .tabInfo {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: none;
  margin-bottom: 0;
  padding: 0 0 15px;
  text-align: center;
  margin: 0 0 10px;
  opacity: 1;
}

.Section3tabItem .tabIcon {
  bottom: 80px;
  left: 50%;
  top: auto;
  right: auto;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.4s;

}

/* **--Hover 시 effect--** */
.prodIconChg {
  bottom: 93px !important;
  opacity: 1 !important;
}

/* --상품 3줄 이후 팝업상자-- */

.alert {
  position: fixed;
  top: 35%;
  left: 40%;
  width: 20%;
  z-index: 99;
  background-color: #f9f9f9;
  opacity: 0.95;
  border-radius: 0;
  border: 0;
  border: 1px solid #eee;
}

.alert p {
  color: #000;
  font-weight: 600;
  font-size: 14px;
}

.alert .btn {
  font-size: 10px;
  font-weight: 600;
  color: #000;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #eee;
}